<h1>Listing items of list 
<%= params[:current_list]%>
</h1>
<%= debug params %>

<br>
<%= render partial: 'listing', :current_list=>params[:curent_list]%>
<%= link_to 'New List item', new_list_item_path %>
